ul.over{
     list-style: none;
     display: flex;
     justify-content:space-around;
     margin: 0;
     padding: 0;
  }
  .over li{
     background: #fff;
  }
  .over img{
     width: 32%;
     height: auto;
     display:;
     opacity: 1;
     transition: .3s;
  }
  .over img:hover{
     opacity: 0.1;
  }

body{
  background-color:#ffffff;
  color:;
}
